@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Ubuntu&display=swap');


:root {

  --font-family: 'Poor Story', cursive;
  --font-base: 'Poor Story', cursive;

  --gradient-text: linear-gradient(89.97deg, #dfabf1 1.84%, #eeb73f 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d15bf8 -13.86%, #eeb73f  99.55%);
  
  --color-bg: #956c9d;
  --color-footer : #ffffff;
  --color-blog: #d391eb;
  --color-text: #ffffff;
  --color-subtext: #ffd971;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}